<html>
    <head>
        <title>{{ title }}  Play Rock-Paper-Scissors</title>
    </head>
    <body>
        <h1>List of players</h1>

        <form action="/play_game" method="post"> 
            <label for="title">Player1 Name</label>
            <input type="text" name="player1_name" id="title">
            <label for="moves">Choose a move:</label>
            <select id="move" name="player1_move">
                <option value="rock">Rock</option>
                <option value="paper">Paper</option>
                <option value="scissors">Scissors</option>
            </select> <br>

            
            <label for="title">Player2 Name</label>
            <input type="text" name="player2_name" id="title">
            <select id="move" name="player2_move">
                <option value="rock">Rock</option>
                <option value="paper">Paper</option>
                <option value="scissors">Scissors</option>
            </select> <br>

            <input type="submit" value="Add Game">
          </form>


        {% for player in players%}
        <div>
            <p>
                {{player.name}}: {{player.move}}
            </p>
        </div>
        {% endfor %}
    </body>
</html>